<div class="drawer">
    <section class="post box clearfix">
    <h1 class="entry-title">
        Drawer Component
    </h1>
    <div class="meta">
        <ha-segmented-button class="usage-tab-buttons">
            <button class="segmented-nav" value="html" selected="true">HTML</button>
            <button class="segmented-nav" value="js">Javascript</button>
            <button class="segmented-nav" value="dojo">Dojo</button>
            <button class="segmented-nav" value="react">React</button>
        </ha-segmented-button>
    </div>
   <div class = "design-document">
        <a href="https://github.intuit.com/SBG/harmony-ui-components/blob/develop/docs/design/DrawerLarge.md" target="_blank">Design & API Document</a>
    </div>
    </section>

    <div class="panel" id="html">
        <div class="left-content">
            <section class="usage">
                <header class="title"><a>Usage</a></header>

                <div class="highlight">
                    <pre>
                        <code class="language-html" data-lang="html">
                            {{{declarativeUsage}}}
                        </code>
                    </pre>
                </div>
            </section>
            <section class="examples">
                <header class="title"><a>Examples</a></header>
                {{{componentDemoTemplate}}}
            </section>
        </div>
    </div>


    <div class="panel hidden" id="js">
        <div class="left-content">
            <section class="usage">
                <header class="title"><a>Usage</a></header>
                <div class="highlight">
                    <pre>
                        <code class="language-html" data-lang="html">
                            var drawer = document.createElement('ha-drawer-large');

                            drawer.backdrop = true;
                            drawer.id = id;
                            drawer.titleText = title;
                            drawer.section = contentNode;
                            drawer.footer = footerNode;
                        </code>
                    </pre>
                </div>
            </section>

            <section class="examples">
                <header class="title"><a>Examples</a></header>
                <div id="programmaticWay">
                </div>
            </section>
        </div>
    </div>

    <div class="panel hidden" id="dojo">
        <div class="left-content">
            <section class="examples">
                <header class="title"><a>Examples</a></header>
                <div id="dojoProgrammaticWay">
                </div>
            </section>
        </div>
    </div>
</div>

<div class="panel hidden" id="react">
<section class="usage">
    <header class="title">
        <a>Usage</a>
    </header>

    <div class="highlight">
        <pre>
                <code class="language-html" data-lang="html">
                Large Drawer Without Overlay
                    &lt;HADrawerLarge
                        show={false}
                        backdrop={false}
                        title="I AM A DRAWER TITLE!!!!!"
                        onDismiss={func(){...}}&gt;
                        &lt;HASection&gt;
                            ...
                        &lt;/HASection&gt;
                        &lt;HAFooter&gt;
                            ...
                        &lt;/HAFooter&gt;
                    &lt;/HADrawerLarge&gt;

                    Large Drawer With Overlay
                    &lt;HADrawerLarge
                        show={false}
                        backdrop={true}
                        title="I AM A DRAWER TITLE!!!!!"
                        onDismiss={func(){...}}&gt;
                        &lt;HASection&gt;
                            ...
                        &lt;/HASection&gt;
                        &lt;HAFooter&gt;
                            ...
                        &lt;/HAFooter&gt;
                    &lt;/HADrawerLarge&gt;
                </code>
            </pre>
    </div>
</section>

<section class="examples">
    <header class="title">
        <a>Examples</a>
    </header>
    <div id="reactWay"></div>
</section>
</div>
