<section class="post box clearfix">
    <h1 class="entry-title">
        Numeric Badges
    </h1>
    <div class="meta">
        <ha-segmented-button class="usage-tab-buttons">
            <button class="segmented-nav" value="html" selected="true">HTML</button>
            <button class="segmented-nav" value="dojo">Dojo</button>
        </ha-segmented-button>
    </div>
</section>
<div class="panel" id="html">
    <section class="usage">
        <header class="title"><a>Usage</a></header>
        <div class="highlight">
            <pre>
                <code class="language-html" data-lang="html">
                    &lt;i class="ha-numeric-badge"&gt;5&lt;/i&gt;
                    &lt;i class="ha-numeric-badge"&gt;99&lt;/i&gt;
                    &lt;i class="ha-numeric-badge"&gt;885&lt;/i&gt;
                    &lt;i class="ha-numeric-badge"&gt;999&lt;span class="ha-plus-span"&gt;+&lt;/span&gt;&lt;/i&gt;

                    &lt;i class="ha-numeric-badge ha-inverse"&gt;5&lt;/i&gt;
                    &lt;i class="ha-numeric-badge ha-inverse"&gt;99&lt;/i&gt;
                    &lt;i class="ha-numeric-badge ha-inverse"&gt;885&lt;/i&gt;
                    &lt;i class="ha-numeric-badge ha-inverse"&gt;999&lt;span class="ha-plus-span"&gt;+&lt;/span&gt;&lt;/i&gt;
                </code>
            </pre>
        </div>
    </section>
    <section class="examples">
        <header class="title"><a>Examples</a></header>
        <div>
            <div class="separator">
                <i class="ha-numeric-badge">5</i>
            </div>
            <div class="separator">
                <i class="ha-numeric-badge">99</i>
            </div>
            <div class="separator">
                <i class="ha-numeric-badge">885</i>
            </div>
            <div class="separator">
                <i class="ha-numeric-badge">999<span class="ha-plus-span">+</span></i>
            </div>
        </div>

        <div>
            <div class="separator">
                <i class="ha-numeric-badge ha-inverse">5</i>
            </div>
            <div class="separator">
                <i class="ha-numeric-badge ha-inverse">99</i>
            </div>
            <div class="separator">
                <i class="ha-numeric-badge ha-inverse">885</i>
            </div>
            <div class="separator">
                <i class="ha-numeric-badge ha-inverse">999<span class="ha-plus-span">+</span></i>
            </div>
        </div>
    </section>
</div>
<div class="panel hidden" id="plain">
    <section class="usage">
        <header class="title"><a>Usage</a></header>
        <div class="highlight">
            <pre>
                <code class="language-html" data-lang="html">
                    &lt;button&gt;&lt;/button&gt;
                    &lt;button class="ha-button-primary"&gt;&lt;/button&gt;
                    &lt;button class="ha-button-dark"&gt;&lt;/button&gt;
                </code>
            </pre>
        </div>
    </section>
</div>
<div class="panel hidden" id="dojo">
    <section class="examples">
        <header class="title"><a>Examples</a></header>
        <div id="dojoProgrammaticWay">
        </div>
    </section>
</div>