<section class="post box clearfix">
    <h1 class="entry-title">
        Typography
    </h1>
    <div class="meta">
        <ha-segmented-button class="usage-tab-buttons">
            <button class="segmented-nav" value="html" selected="true">HTML</button>
            <button class="segmented-nav" value="dojo">Dojo</button>
        </ha-segmented-button>
    </div>
</section>

<div class="panel" id="html">
    <section class="examples">
        <header class="title"><a>Examples</a></header>
        <div>
            <i class="hi page large hi-accountant"></i>
            <i class="hi page small hi-accountant"></i>
            <i class="hi navigation hi-accountant"></i><br>

            <div><span class="ha-numeral xtra-large" role="status">Xtra Large Numerals</span></div>
            <div><span class="ha-numeral large">Large Numerals</span></div>
            <div><span class="ha-numeral medium">Medium Numerals</span></div>
            <div><span class="ha-numeral">Regular Numerals</span></div>
            <h1>Header 1</h1>
            <h2>Header 2</h2>
            <h3>Header 3</h3>
            <h4>Header 4</h4>
            <p>Basic paragraph style - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ipsum erat, tristique a viverra vitae, varius sit amet nulla. Aenean ullamcorper rhoncus orci sed ornare. In a dolor molestie, consequat purus ac, maximus lectus. Phasellus a ultrices magna, nec vulputate nulla. Fusce sed laoreet nulla. Morbi vitae vehicula eros, in ultricies mi. Donec dignissim gravida tincidunt. Donec condimentum leo in ullamcorper ullamcorper. Ut rutrum libero ac rutrum volutpat. Morbi rhoncus cursus arcu.</p>
            <p class="ghost-text">Ghost text</p>
            <p class="ha-numeral description">Numeral descriptions</p>
            <p><label>Form Field Labels</label></p>
            <p>
                <table>
                    <tr>
                        <th>Table Headings</th>
                    </tr>
                    <tr>
                        <td>Table data</td>
                    </tr>
                </table>
            </p>
            <p class="small-label">small labels for insight charts</p>
            <p><small>Standard small text</small></p>
            <br>
        </div>
    </section>
</div>

<div class="panel hidden" id="dojo">
    <section class="examples">
        <header class="title"><a>Examples</a></header>
        <div id="dojoProgrammaticWay">
        </div>
    </section>
</div>

